/* Container
----------------------------------------------------------------------------------------------------*/
/* line 3, ../sass/grid.scss */
.container-12 {
  width: 960px;
  margin: auto;
  position: relative;
}
@media (min-width: 768px) and (max-width: 995px) {
  /* line 3, ../sass/grid.scss */
  .container-12 {
    width: 768px;
  }
}
@media (max-width: 767px) {
  /* line 3, ../sass/grid.scss */
  .container-12 {
    max-width: 400px;
    width: 100%;
    padding: 0 20px;
  }
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
/* line 19, ../sass/grid.scss */
.alpha {
  margin-left: 0;
}

/* line 23, ../sass/grid.scss */
.omega {
  margin-right: 0;
}

/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/
/* line 30, ../sass/grid.scss */
.container-12 .grid-1 {
  width: 6.333%;
}
/* line 33, ../sass/grid.scss */
.container-12 .grid-2 {
  width: 14.667%;
}
/* line 36, ../sass/grid.scss */
.container-12 .grid-3 {
  width: 23.0%;
}
/* line 39, ../sass/grid.scss */
.container-12 .grid-4 {
  width: 31.333%;
}
/* line 42, ../sass/grid.scss */
.container-12 .grid-5 {
  width: 39.667%;
}
/* line 45, ../sass/grid.scss */
.container-12 .grid-6 {
  width: 48.0%;
}
/* line 48, ../sass/grid.scss */
.container-12 .grid-7 {
  width: 56.333%;
}
/* line 51, ../sass/grid.scss */
.container-12 .grid-8 {
  width: 64.667%;
}
/* line 54, ../sass/grid.scss */
.container-12 .grid-9 {
  width: 73.0%;
}
/* line 57, ../sass/grid.scss */
.container-12 .grid-10 {
  width: 81.333%;
}
/* line 60, ../sass/grid.scss */
.container-12 .grid-11 {
  width: 89.667%;
}
/* line 63, ../sass/grid.scss */
.container-12 .grid-12 {
  width: 98.0%;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
/* line 70, ../sass/grid.scss */
.container-12 *[class*='grid-'] {
  display: inline;
  float: left;
  position: relative;
  margin-left: 1%;
  margin-right: 1%;
}
@media (max-width: 767px) {
  /* line 70, ../sass/grid.scss */
  .container-12 *[class*='grid-'] {
    width: 100%;
    margin: 0 0 30px 0;
    display: block;
    float: none;
  }
  /* line 81, ../sass/grid.scss */
  #header .container-12 *[class*='grid-'], #footer .container-12 *[class*='grid-'] {
    margin-bottom: 0;
  }
}

/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
/* line 92, ../sass/grid.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */
/* line 103, ../sass/grid.scss */
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 114, ../sass/grid.scss */
.clearfix {
  display: inline-block;
}

/* line 118, ../sass/grid.scss */
* html .clearfix {
  height: 1%;
}

/* line 122, ../sass/grid.scss */
.clearfix {
  display: block;
}
