@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
/* Container
----------------------------------------------------------------------------------------------------*/
/* line 3, ../sass/grid.scss */
.container-12 {
  width: 960px;
  margin: auto;
  position: relative;
}
@media (min-width: 768px) and (max-width: 995px) {
  /* line 3, ../sass/grid.scss */
  .container-12 {
    width: 768px;
  }
}
@media (max-width: 767px) {
  /* line 3, ../sass/grid.scss */
  .container-12 {
    max-width: 400px;
    width: 100%;
    padding: 0 20px;
  }
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
/* line 19, ../sass/grid.scss */
.alpha {
  margin-left: 0;
}

/* line 23, ../sass/grid.scss */
.omega {
  margin-right: 0;
}

/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/
/* line 30, ../sass/grid.scss */
.container-12 .grid-1 {
  width: 6.333%;
}
/* line 33, ../sass/grid.scss */
.container-12 .grid-2 {
  width: 14.667%;
}
/* line 36, ../sass/grid.scss */
.container-12 .grid-3 {
  width: 23.0%;
}
/* line 39, ../sass/grid.scss */
.container-12 .grid-4 {
  width: 31.333%;
}
/* line 42, ../sass/grid.scss */
.container-12 .grid-5 {
  width: 39.667%;
}
/* line 45, ../sass/grid.scss */
.container-12 .grid-6 {
  width: 48.0%;
}
/* line 48, ../sass/grid.scss */
.container-12 .grid-7 {
  width: 56.333%;
}
/* line 51, ../sass/grid.scss */
.container-12 .grid-8 {
  width: 64.667%;
}
/* line 54, ../sass/grid.scss */
.container-12 .grid-9 {
  width: 73.0%;
}
/* line 57, ../sass/grid.scss */
.container-12 .grid-10 {
  width: 81.333%;
}
/* line 60, ../sass/grid.scss */
.container-12 .grid-11 {
  width: 89.667%;
}
/* line 63, ../sass/grid.scss */
.container-12 .grid-12 {
  width: 98.0%;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
/* line 70, ../sass/grid.scss */
.container-12 *[class*='grid-'] {
  display: inline;
  float: left;
  position: relative;
  margin-left: 1%;
  margin-right: 1%;
}
@media (max-width: 767px) {
  /* line 70, ../sass/grid.scss */
  .container-12 *[class*='grid-'] {
    width: 100%;
    margin: 0 0 30px 0;
    display: block;
    float: none;
  }
  /* line 81, ../sass/grid.scss */
  #header .container-12 *[class*='grid-'], #footer .container-12 *[class*='grid-'] {
    margin-bottom: 0;
  }
}

/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
/* line 92, ../sass/grid.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */
/* line 103, ../sass/grid.scss */
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 114, ../sass/grid.scss */
.clearfix {
  display: inline-block;
}

/* line 118, ../sass/grid.scss */
* html .clearfix {
  height: 1%;
}

/* line 122, ../sass/grid.scss */
.clearfix {
  display: block;
}

/* ================= Reset ================== */
/* line 17, ../sass/style.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
}

/* ----------------------------------------------------General Elements ---------------------------------------------------- */
/* line 28, ../sass/style.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 31, ../sass/style.scss */
body {
  font: normal 12px/18px "Open Sans", sans-serif;
  color: #323232;
}

/* line 35, ../sass/style.scss */
#page img {
  max-width: 100%;
  height: auto;
}

/* line 39, ../sass/style.scss */
a {
  text-decoration: none;
  color: #f41913;
}
/* line 42, ../sass/style.scss */
a:hover {
  color: #f4b50e;
}

/* line 46, ../sass/style.scss */
p {
  padding-bottom: 10px;
}

/* line 49, ../sass/style.scss */
.panel-separator {
  clear: both;
  overflow: hidden;
}

/* ================= Typography ================== */
/* line 54, ../sass/style.scss */
#content h1.title, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.1em;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/* line 60, ../sass/style.scss */
h1 {
  font-size: 1.4em;
}

/* line 63, ../sass/style.scss */
h2 {
  font-size: 1.3em;
}

/* line 66, ../sass/style.scss */
h3 {
  font-size: 1.1em;
}

/* line 69, ../sass/style.scss */
h4 {
  font-size: 1em;
}

/* ================= Forms ================== */
/* line 77, ../sass/style.scss */
input[type='text'],
input[type='email'],
input[type='password'],
textarea,
select {
  background: white;
  border: 1px solid #d7d7d7;
  max-width: 100%;
}
/* line 81, ../sass/style.scss */
input[type='text']:hover,
input[type='email']:hover,
input[type='password']:hover,
textarea:hover,
select:hover {
  border-color: #bebebe;
}
/* line 84, ../sass/style.scss */
input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
textarea:focus,
select:focus {
  border-color: #a4a4a4;
}

/* line 90, ../sass/style.scss */
input[type='text'],
input[type='email'],
input[type='password'] {
  padding: 5px 10px;
}

/* line 93, ../sass/style.scss */
textarea {
  padding: 12px;
}

/* ================= Layout Elements ================== */
/* line 99, ../sass/style.scss */
#main-wrapper {
  -ms-overflow-x: hidden;
  overflow-x: hidden;
}
/* line 102, ../sass/style.scss */
.not-front #main-wrapper {
  padding-top: 40px;
}

/* line 108, ../sass/style.scss */
.front #content {
  width: 100%;
  margin: 0;
}

/* line 115, ../sass/style.scss */
.sidebar .block {
  margin-bottom: 30px;
}

/* ================= Article Node view ================== */
/* line 122, ../sass/style.scss */
.node-type-article .content > [class*='image'] {
  border: 1px solid #d7d7d7;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  float: left;
  margin: 0 10px 0 0;
  max-width: 100%;
}
/* line 128, ../sass/style.scss */
.node-type-article .content > [class*='image'] img {
  display: block;
}

/* line 139, ../sass/style.scss */
#header {
  background: #f2f2f2;
  padding: 16px 0 20px;
}
@media (max-width: 767px) {
  /* line 143, ../sass/style.scss */
  #header .grid-8 {
    float: right;
    margin: 0;
    position: absolute;
    right: 30px;
    top: 50%;
    width: auto;
    z-index: 2;
  }
}
@media (max-width: 340px) {
  /* line 155, ../sass/style.scss */
  #header #logo img {
    max-width: 200px;
  }
}

/* ----------------------------------------------------Blocks ---------------------------------------------------- */
/* ================= User menu ================== */
/* line 166, ../sass/style.scss */
#block-system-user-menu {
  float: right;
  clear: right;
}
@media (max-width: 767px) {
  /* line 166, ../sass/style.scss */
  #block-system-user-menu {
    display: none;
  }
}
/* line 172, ../sass/style.scss */
#block-system-user-menu ul.menu {
  padding-top: 10px;
}
/* line 175, ../sass/style.scss */
#block-system-user-menu ul.menu li {
  font-size: 13px;
  line-height: 14px;
  border-left: 1px solid #3F5682;
  display: inline-block;
  padding: 0 4px 0 8px;
}
/* line 181, ../sass/style.scss */
#block-system-user-menu ul.menu li a {
  color: #3f5682;
}
/* line 183, ../sass/style.scss */
#block-system-user-menu ul.menu li a:hover, #block-system-user-menu ul.menu li a.active {
  color: #1e293d;
}
/* line 189, ../sass/style.scss */
#block-system-user-menu ul.menu li:first-child {
  border: none;
  vertical-align: top;
}
/* line 192, ../sass/style.scss */
#block-system-user-menu ul.menu li:first-child a {
  background: url("../images/icon_twitter_small.jpg") no-repeat scroll 0 -2px;
  display: block;
  font-size: 0;
  height: 20px;
  width: 22px;
}

/* ================= Main menu ================== */
/* line 205, ../sass/style.scss */
.header-menu label {
  display: none;
}
/* line 207, ../sass/style.scss */
.header-menu label i {
  cursor: pointer;
  float: right;
  font-size: 27px;
  margin-bottom: 2px;
}
@media (max-width: 767px) {
  /* line 205, ../sass/style.scss */
  .header-menu label {
    display: block;
  }
}
/* line 217, ../sass/style.scss */
.header-menu [type=checkbox] {
  display: none;
}
/* line 219, ../sass/style.scss */
.header-menu [type=checkbox]:checked ~ label {
  color: black;
}
/* line 222, ../sass/style.scss */
.header-menu [type=checkbox]:checked ~ label ~ #main-menu {
  opacity: 1;
  display: block;
}
/* line 227, ../sass/style.scss */
.header-menu #main-menu {
  font-family: "Roboto Condensed", sans-serif;
  float: right;
  clear: right;
  padding-top: 60px;
}
@media (max-width: 767px) {
  /* line 227, ../sass/style.scss */
  .header-menu #main-menu {
    background: #333;
    opacity: 0;
    padding: 0;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
}
/* line 239, ../sass/style.scss */
.header-menu #main-menu li {
  display: inline;
  padding: 0 10px;
}
@media (max-width: 767px) {
  /* line 239, ../sass/style.scss */
  .header-menu #main-menu li {
    border-bottom: 1px solid #eee;
    display: block;
    padding: 0;
  }
}
/* line 247, ../sass/style.scss */
.header-menu #main-menu li a {
  color: #f41913;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
@media (max-width: 767px) {
  /* line 247, ../sass/style.scss */
  .header-menu #main-menu li a {
    color: white;
    display: block;
    padding: 5px 10px;
    font-size: 13px;
    text-transform: uppercase;
  }
}
/* line 261, ../sass/style.scss */
.header-menu #main-menu li a:hover, .header-menu #main-menu li a.active {
  color: black;
}
@media (max-width: 767px) {
  /* line 261, ../sass/style.scss */
  .header-menu #main-menu li a:hover, .header-menu #main-menu li a.active {
    background: white;
    color: #F41913;
  }
}

/* ================= All articles list ================== */
/* line 274, ../sass/style.scss */
.blog-articles .views-row {
  padding-bottom: 5px;
}
/* line 278, ../sass/style.scss */
.blog-articles .item-list ul {
  text-align: left;
}

/* ================= Sidebar Block Content Toggle ================== */
@media (max-width: 767px) {
  /* line 286, ../sass/style.scss */
  .sidebar .block {
    position: relative;
  }
  /* line 288, ../sass/style.scss */
  .sidebar .block .content {
    display: none;
  }
}
/* line 294, ../sass/style.scss */
body .block-toggle {
  display: none;
}
@media (max-width: 767px) {
  /* line 294, ../sass/style.scss */
  body .block-toggle {
    display: block;
    color: black;
    cursor: pointer;
    float: right;
    font-size: 20px;
    margin: -1px 12px 0 0;
  }
  /* line 303, ../sass/style.scss */
  body .block-toggle.act {
    color: #777777;
  }
}

/* ================= Flex Slider ================== */
/* line 309, ../sass/style.scss */
.panel-slider {
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 30px;
  position: relative;
}
@media (max-width: 767px) {
  /* line 309, ../sass/style.scss */
  .panel-slider {
    border: none;
  }
}
/* line 316, ../sass/style.scss */
.panel-slider:before {
  background: #d7d7d7;
  bottom: -1px;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 300%;
  left: 0;
  margin-left: -100%;
}
@media (max-width: 767px) {
  /* line 316, ../sass/style.scss */
  .panel-slider:before {
    display: none;
  }
}

/* line 332, ../sass/style.scss */
.flexslider {
  position: relative;
}
/* line 334, ../sass/style.scss */
.flexslider .slides > li {
  position: relative;
}

/* line 340, ../sass/style.scss */
.flex-control-nav {
  bottom: 15px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 2;
}
@media (max-width: 767px) {
  /* line 340, ../sass/style.scss */
  .flex-control-nav {
    text-align: left;
  }
}
@media (max-width: 340px) {
  /* line 340, ../sass/style.scss */
  .flex-control-nav {
    bottom: 0;
  }
}
/* line 352, ../sass/style.scss */
.flex-control-nav li {
  display: inline-block;
  margin: 0 3px;
}
/* line 355, ../sass/style.scss */
.flex-control-nav li a {
  background: #f41913;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 13px;
  text-indent: -9999px;
  width: 13px;
}
/* line 363, ../sass/style.scss */
.flex-control-nav li a.flex-active {
  background: #f4b50e;
  cursor: default;
}
/* line 367, ../sass/style.scss */
.flex-control-nav li a:hover {
  background: #f4b50e;
}

/* line 375, ../sass/style.scss */
.flex-caption {
  font-size: 14px;
  left: 40px;
  position: absolute;
  top: 40px;
  width: 450px;
}
@media (max-width: 767px) {
  /* line 375, ../sass/style.scss */
  .flex-caption {
    width: 60%;
    top: 20px;
    left: 0;
  }
}
@media (max-width: 340px) {
  /* line 375, ../sass/style.scss */
  .flex-caption {
    top: 0;
  }
}

/* line 391, ../sass/style.scss */
.flex-caption p {
  padding-bottom: 20px;
}
@media (max-width: 767px) {
  /* line 394, ../sass/style.scss */
  .flex-caption p + p {
    display: none;
  }
}
/* line 398, ../sass/style.scss */
.flex-caption p strong {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 110%;
}
@media (max-width: 767px) {
  /* line 398, ../sass/style.scss */
  .flex-caption p strong {
    font-size: 23px;
  }
}
@media (max-width: 420px) {
  /* line 398, ../sass/style.scss */
  .flex-caption p strong {
    font-size: 19px;
  }
}
/* line 409, ../sass/style.scss */
.flex-caption p strong em {
  font-style: normal;
  color: #183e87;
}

/* ================= Featured Boxes ================== */
/* line 418, ../sass/style.scss */
.featured-boxes .grid-4 {
  border: 1px solid #B2B2B2;
  min-height: 310px;
  padding: 30px 20px;
  position: relative;
}
/* line 423, ../sass/style.scss */
.featured-boxes .grid-4 .summary {
  z-index: 1;
  position: relative;
}
/* line 427, ../sass/style.scss */
.featured-boxes .grid-4 .button {
  position: relative;
  z-index: 1;
}
/* line 430, ../sass/style.scss */
.featured-boxes .grid-4 .button a {
  background: #f41913;
  margin-top: 10px;
  display: block;
  float: left;
  color: #FFFFFF;
  padding: 5px 10px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
/* line 432, ../sass/style.scss */
.featured-boxes .grid-4 .button a:hover {
  background: #f4b50e;
}
/* line 437, ../sass/style.scss */
.featured-boxes .grid-4 span.img {
  bottom: 0;
  display: block;
  max-width: 100%;
  position: absolute;
  right: 0;
}
/* line 443, ../sass/style.scss */
.featured-boxes .grid-4 span.img img {
  display: block;
}
/* line 449, ../sass/style.scss */
.featured-boxes .grid-4 + .grid-4 a {
  background: #80980e;
  margin-top: 10px;
  display: block;
  float: left;
  color: #FFFFFF;
  padding: 5px 10px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
/* line 451, ../sass/style.scss */
.featured-boxes .grid-4 + .grid-4 a:hover {
  background: #f4b50e;
}
/* line 457, ../sass/style.scss */
.featured-boxes .attachment > div {
  background: url("../images/box03.jpg") no-repeat scroll 100% 100%;
}
/* line 460, ../sass/style.scss */
.featured-boxes .attachment h2 {
  font-size: 22px;
  font-family: "Roboto Condensed", sans-serif;
  color: black;
}
/* line 465, ../sass/style.scss */
.featured-boxes .attachment h3 {
  margin-bottom: 5px;
}
/* line 467, ../sass/style.scss */
.featured-boxes .attachment h3 a {
  color: #a40fef;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
}
/* line 471, ../sass/style.scss */
.featured-boxes .attachment h3 a:hover {
  color: black;
}

/* ================= Buttons ================== */
/* line 479, ../sass/style.scss */
.btn, input[type='submit'] {
  background: #f41913;
  margin-top: 10px;
  display: block;
  float: left;
  color: #FFFFFF;
  padding: 5px 10px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
/* line 481, ../sass/style.scss */
.btn:hover, input[type='submit']:hover {
  background: #f4b50e;
  color: white;
}

/* line 487, ../sass/style.scss */
.btn03 {
  background: #a40fef;
  margin-top: 10px;
  display: block;
  float: left;
  color: #FFFFFF;
  padding: 5px 10px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/* ================= Featured Node view ================== */
/* line 494, ../sass/style.scss */
.node-featured-boxes .content > [class*='image'] {
  border: 1px solid #d7d7d7;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  float: left;
  margin: 0 10px 0 0;
  max-width: 100%;
}

/* ================= Blog Page View ================== */
/* line 508, ../sass/style.scss */
.blog-list .blog-item {
  border-bottom: 1px solid #d7d7d7;
  margin: 0 0 20px;
  padding: 0 0 30px;
}
/* line 513, ../sass/style.scss */
.blog-list .blog-item h2 a {
  color: black;
}
/* line 519, ../sass/style.scss */
.blog-list .blog-item .submitted {
  font-style: italic;
  padding-bottom: 10px;
  text-align: right;
}
/* line 524, ../sass/style.scss */
.blog-list .blog-item .content {
  color: black;
}
/* line 526, ../sass/style.scss */
.blog-list .blog-item .content > [class*='image'] {
  float: left;
  margin-right: 10px;
}
/* line 534, ../sass/style.scss */
.blog-list .blog-item .content > [class*='tags'] .field-items div {
  display: inline;
  padding: 0 3px;
}

/* line 550, ../sass/style.scss */
.views-exposed-form {
  padding-bottom: 20px;
}
/* line 552, ../sass/style.scss */
.views-exposed-form .views-exposed-widget {
  float: none;
}
/* line 555, ../sass/style.scss */
.views-exposed-form label {
  display: inline;
}
/* line 558, ../sass/style.scss */
.views-exposed-form .views-widget {
  display: inline-block;
  padding-left: 10px;
}

/* ================= System styles overrides ================== */
/* line 566, ../sass/style.scss */
.item-list ul li {
  margin: 0;
}

/* line 570, ../sass/style.scss */
.profile .user-picture {
  margin-top: 2em;
}

/* line 579, ../sass/style.scss */
#footer {
  margin-top: 40px;
}
/* line 581, ../sass/style.scss */
#footer > div {
  background: #f6f6f6;
  border-top: #cbcbcb solid 1px;
  padding: 40px 0 60px;
}
@media (max-width: 767px) {
  /* line 581, ../sass/style.scss */
  #footer > div {
    padding: 30px 0;
  }
}
/* line 588, ../sass/style.scss */
#footer > div > div:first-child {
  padding-left: 30px;
}
/* line 591, ../sass/style.scss */
#footer > div > div + div {
  padding-right: 30px;
}
@media (max-width: 767px) {
  /* line 591, ../sass/style.scss */
  #footer > div > div + div {
    padding-right: 0;
  }
}

/* ================= Footer Main Menu ================== */
/* line 600, ../sass/style.scss */
#block-system-main-menu {
  float: right;
}
@media (max-width: 767px) {
  /* line 600, ../sass/style.scss */
  #block-system-main-menu {
    float: none;
  }
}
/* line 606, ../sass/style.scss */
#block-system-main-menu ul.menu li {
  border-left: 1px solid #333;
  display: inline;
  padding: 0 5px 0 7px;
}
@media (max-width: 767px) {
  /* line 606, ../sass/style.scss */
  #block-system-main-menu ul.menu li {
    border-left: medium none;
    border-top: 1px solid #d7d7d7;
    display: block;
    margin: 0;
    padding: 8px 0;
    text-align: center;
    padding: 8px 0;
  }
}
/* line 619, ../sass/style.scss */
#block-system-main-menu ul.menu li a {
  color: #f41913;
}
@media (max-width: 767px) {
  /* line 619, ../sass/style.scss */
  #block-system-main-menu ul.menu li a {
    display: block;
    font-size: 15px;
    text-transform: uppercase;
  }
}
/* line 626, ../sass/style.scss */
#block-system-main-menu ul.menu li a:hover, #block-system-main-menu ul.menu li a.active {
  color: black;
}
/* line 630, ../sass/style.scss */
#block-system-main-menu ul.menu li:first-child {
  border: none;
}

/* line 637, ../sass/style.scss */
#block-block-1 {
  padding-top: 25px;
  float: right;
  clear: right;
}
@media (max-width: 767px) {
  /* line 637, ../sass/style.scss */
  #block-block-1 {
    display: none;
  }
}
/* line 644, ../sass/style.scss */
#block-block-1 .content {
  color: black;
}

@media (max-width: 767px) {
  /* line 650, ../sass/style.scss */
  #block-block-2 {
    display: none;
  }
}
/* line 655, ../sass/style.scss */
#block-block-2 .content a {
  color: #487AD3;
  display: inline-block;
  font-weight: bold;
  line-height: 37px;
  text-transform: uppercase;
}
/* line 661, ../sass/style.scss */
#block-block-2 .content a i {
  color: #0BBCE5;
  font-size: 41px;
  padding: 0 0 0 6px;
  position: relative;
  top: 6px;
}
/* line 668, ../sass/style.scss */
#block-block-2 .content a:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
